<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="#"> </a>
                <div class="info-block"><i class="fa fa-map"></i>Opp of Dairy Don, College Road, Nashik</div>
            </div>
            <div class="col-md-6">
                <div class="social-grid">
                    <ul class="list-unstyled text-right">
                        <li><a href="https://www.facebook.com/dreamkloudtechnologies/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a><i class="fa fa-twitter"></i></a></li>
                        <li><a><i class="fa fa-linkedin" href="https://www.linkedin.com/company/dreamkloud-technologies" target="_blank"></i></a></li>
                        <li><a><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
         <div class="copyright">
            &copy; 2017 All right reserved. <span Style="color: #ff4157;">DreamKloud Technology pvt ltd.</span>
        </div> 
    </div>
    <!--div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 width-set-50">
                <div class="footer-details">
                    <h4>Get in touch</h4>
                    <ul class="list-unstyled footer-contact-list">
                        <li>
                            <i class="fa fa-map-marker fa-lg"></i>
                            <p>701 Old York Drive Richmond USA.</p>
                        </li>
                        <li>
                            <i class="fa fa-phone fa-lg"></i>
                            <p><a href="tel:+1-202-555-0100"> +1-202-555-0100</a></p>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o fa-lg"></i>
                            <p><a href="mailto:demo@info.com"> demo@info.com</a></p>
                        </li>
                    </ul>
                    <div class="footer-social-icon">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>                           
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div>
                    <div class="input-group" id="subscribe">
                        <input type="text" class="form-control subscribe-box" value="" name="subscribe" placeholder="EMAIL ID">
                        <span class="input-group-btn">
                            <button type="button" class="btn subscribe-button"><i class="fa fa-paper-plane fa-lg"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 width-50 width-set-50">
                <div class="footer-details">
                    <h4>explore</h4>
                    <ul class="list-unstyled footer-links">
                        <li class="active"><a>Home</a></li>
                        <li><a href="<?php echo base_url();?>home/about">About</a></li>
                        <li><a href="<?php echo base_url();?>home/portfolio">Portfolio</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="#">Dinning</a></li>
                        <li> <a href="news.html">News</a></li>
                        <li> <a href="<?php echo base_url();?>home/ContactUs">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="footer-details">
                    <h4>Now On Instagram</h4>
                    <div class="row">
                        <div class="instagram-images">
                            <div id="instafeed"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

    </div-->
</footer>